<section class="container-list-quizz">
  <div class="list-quizz-menu">
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
    <div class="list-quizz-item">
      <div class="list-quizz-description">
        <span><img src="../../../assets/img/dice-solid-accent.svg" alt="logo"></span>
        <h3>Titulo do teste</h3>
      </div>
      <div class="list-quizz-buttons">
        <button><img src="../../../assets/img/gamepad-solid.svg" alt="Iniciar teste">Iniciar</button>
        <button><img src="../../../assets/img/share-nodes-solid.svg" alt="share, compartilhar"></button>
      </div>
    </div>
  </div>
</section>